<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyQuanTraSua.Properties.Settings.QUANLYTRASUAConnectionString"
            connectionString="Data Source=DESKTOP-SH243I1\LETHIKIMLE;Initial Catalog=QUANLYTRASUA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>